<md-list class="dashboard-panel">

	<md-list-item>
		<h3>2.4GHz bgn</h3>
	</md-list-item>
	<md-list-item>
		<md-icon md-svg-icon="signal" class="amf-badge" data-badge="2"></md-icon>
		<p> LEDE </p>
		<md-switch class="md-secondary"></md-switch>
	</md-list-item>
	<md-list-item>
		<md-icon md-svg-icon="signal" class="amf-badge" data-badge="150"></md-icon>
		<p>GUEST</p>
		<md-switch class="md-secondary"></md-switch>

	</md-list-item>
	<md-list-item>
		<h3>5.0Ghz nac</h3>
	</md-list-item>
	<md-list-item>
		<md-icon md-svg-icon="signal" class="amf-badge" data-badge="0"></md-icon>
		<p>LEDE5</p>
		<md-switch class="md-secondary"></md-switch>

	</md-list-item>
</md-list>
